body {
  background-color: #eb3b5a;
  color: #ffffff;
}
h1 {
  font-family: "Lobster", "cursive";
  font-size: 3em;
}
main {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  font-size: 2em;
  text-align: center;
}
button {
  padding: 16px;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.3em;
  margin-top: 1em;
  border-radius: 8px;
  background-color: #f7b731;
  color: #000000;
  font-family: "Roboto", "sans-serif";
}
input {
  display: block;
  margin: 16px auto 0;
  font-size: 2em;
  max-width: 120px;
  border: none;
  background-color: transparent;
  text-align: center;
  color: #ffffff;
  border-bottom: 6px solid #ffffff;
}
.resultado {
  padding: 16px;
  margin-top: 120px;
  border: 8px dotted #ffffff;
  display: none;
}
.resultado span {
  font-weight: bold;
  font-size: 3em;
  display: block;
}
